body{
	font-family: Roboto, sans-serif;
	font-size: 14px;
	color: #333;
}
div{
	display: block;
	position: relative;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-mox-box-sizing: border-box;
}
a, a:hover, a:visited, a:active, a:link {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
ul {
    list-style: none;
    margin-bottom: 0px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

h1 {
    font-size: 48px;
}